.contact-page{
    width: 100%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/* styles the login header */
.contact-header{
    font-size: 20px;
    font-style: italic;
}

/* style the labels for entries */
.contact-text{
    font-style: italic;
    font-size: 15px;
    font-weight: 600;
}

/* styles the login button */
.contact-button{
    font-size:15px;
    font-style:italic;
    font-weight:600;
}